@import url('https://fonts.googleapis.com/css2?family=Chivo+Mono&family=Hanken+Grotesk&family=Open+Sans:wght@700&display=swap');


* {
    box-sizing: border-box;
    font-family: 'Chivo Mono', monospace;
    font-family: 'Hanken Grotesk', sans-serif;

}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.flex-container {
    display: flex;
    padding-left: 15px;
}

.chat {
    background-color: #eeeeee;
    color: black;
    width: 100px;
    margin: 8px;
    padding: 10px;
    line-height: 25px;
    font-size: 18px;
}

#para1 {
    font-size: 18px;
}

#para2 {
    font-size: 14px;
    font-weight: 700;

}

#top {
    text-align: center;

}

#txt {
    background-color: rgb(196, 188, 188);
}

#pro {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    color: #000000;
}

#pro1 {
    font-family: 'Open Sans', sans-serif;
    justify-content: center;
    color: #000000;
    display: flex;
    flex-basis: 1400px;
    font-size: 35px;
}

#d1 {
    text-align: center;
    font-size: 12px;
    color: rgb(138, 136, 139);
}

#d2 {
    text-indent: 100px;
    font-size: 12px;
    color: rgb(138, 136, 139);
}

#jumba {
    background-color: #eeeeee;
}

#btn1 {
    float: right;
    padding-left: 45px;
    padding-right: 45px;
    background-color: #555555;
}

.ribbon {
    float: left;
    width: 33.33%;
    padding: 5px;
}

.column {
    float: left;
    padding: 10px;
    height: 300px;
}

.left {
    width: 25%;
}

.right {
    width: 74%;
    text-align: center;
}

.navbar-brand-centered {
    position: absolute;
    left: 45%;
    display: block;
    width: 160px;
    text-align: center;
}